<footer class="site-footer">

  <div>
    <div class="top-footer col-md-12">

        <h2>Let's Get Your Business Online</h2>
        <a class="typeform-share button cta-btn" href="https://codaye.typeform.com/to/EQknKM" data-mode="drawer_left" target="_blank">Start your project </a>
        <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

    </div>
    <div class="bottom-footer">
      <div class="copyright col-md-6 col-sm-6">
        <small>Copyright 2017 © Codaye Technologies</small>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="social-media">
          <a href="https://api.whatsapp.com/send?phone=2347036809348" target="_blank"><img src="assets/images/social-media/whatsapp.svg" alt="whatsapp"/></a>
          <a href="https://www.facebook.com/codayetech" target="_blank"><img src="assets/images/social-media/facebook.svg" alt="facebook"/> </a>
          <a href="https://www.twitter.com/codayetech" target="_blank"><img src="assets/images/social-media/twitter.svg" alt="twitter"/></a>
          <a href="https://www.instagram.com/codayetech" target="_blank"><img src="assets/images/social-media/instagram.svg" alt="instagram"/></a>
          <a href="https://www.linkedin.com/company/codaye-technologies" target="_blank"><img src="assets/images/social-media/linkedin.svg" alt="linkedin"/></a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="assets/frame-carousel/jquery.frame-carousel.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</footer>
