<footer class="site-footer">

  <div>
    <div class="col-md-8">
      <div class="social-media">
        <a href="https://api.whatsapp.com/send?phone=2347036809348" target="_blank"><img src="assets/images/social-media/whatsapp.svg" alt="whatsapp"/></a>
        <a href="https://www.facebook.com/codayetech" target="_blank"><img src="assets/images/social-media/facebook.svg" alt="facebook"/> </a>
        <a href="https://www.twitter.com/codayetech" target="_blank"><img src="assets/images/social-media/twitter.svg" alt="twitter"/></a>
        <a href="https://www.instagram.com/codayetech" target="_blank"><img src="assets/images/social-media/instagram.svg" alt="instagram"/></a>
        <a href="https://www.linkedin.com/company/codaye-technologies" target="_blank"><img src="assets/images/social-media/linkedin.svg" alt="linkedin"/></a>
      </div>
    </div>
  </div>

</footer>
