<header class="site-header">

    <div>
      <nav class="site-nav navbar">
        <div class="container-fluid">
          <div class="navbar-header col-md-3">
            <a href="/"><img src="assets/images/logo.png" alt="" /></a>
          </div>
          <div class="nav col-md-6">
            <ul class="navbar-nav">
              <li><a href="#about">About</a></li>
              <li><a href="#work">Work</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
          <div class="navbar-button col-md-3">
            <a class="typeform-share button cta-btn" href="https://codaye.typeform.com/to/EQknKM" data-mode="drawer_left" target="_blank">Start your project </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
            <!-- <a class="cta-btn" href="https://codaye.typeform.com/to/EQknKM" data-mode="drawer_left" target="_blank">Start Your Project</a>
            <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> -->
          </div>
        </div>
      </nav>
    </div>

</header>
