<header class="site-header">

    <!--<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->
    <div class="row">
      <nav class="site-nav navbar">
        <div class="container-fluid">
          <div class="navbar-header col-md-3">
            <a href="#"><img src="assets/images/logo.png" alt="" /></a>
          </div>
          <div class="nav col-md-6">
            <ul class="navbar-nav">
              <li><a href="#">About</a></li>
              <li><a href="#">Work</a></li>
            </ul>
          </div>
          <div class="navbar-button col-md-3">
            <a class="cta-btn" href="#">Start Your Project</a>
          </div>
        </div>
      </nav>
    </div>

    <div class="row intro">
      <div class="col-md-12">
        <h2>Design. Develop. Deliver</h2>
        <h3>Codaye is a software design and development company.<br>
        We build digital products, apps &amp; services</h3>
        <div class="call-to-action">
            <a class="cta-btn" href="#">start your project</a>
        </div>
      </div>
    </div>

</header>
