<section class="intro">
    <div class="row">
        <div class="col-md-12">
        <h2>Design. Develop. Deliver</h2>
        <h3>Codaye is a software design and development company.<br>
        We build digital products, apps &amp; services</h3>
        <div class="call-to-action">
            <a class="cta-btn" href="#">Start your project</a>
        </div>
        </div>
    </div>
</section>

<section id="about" class="white-bg">
    <div class="container">
        <div class="col-md-6">
            <h2>about</h2>
            <p>Codaye Technologies is a software development company. We build websites and digital services for small
                companies.</p>
            <p>At Codaye Technologies, we care about your business and we can create the online model best suited for
                your enterprise. Reach out to us and we will proffer ideas on ways to use the internet to benefit your
                business based on your budget.</p>
        </div>
        <div class="iPhone col-md-6 hidden-xs hidden-sm">
        </div>
    </div>
</section>

<section id="benefits" class="grey-bg">
    <div class="container">
        <h2>why us</h2>
        <div class="col-md-6">
            <p><span class="benefit-title">Transparency</span>: Our open policy ensures you know how much of your budget we are allocating
                to every resource utilized in your project</p>
            <p><span class="benefit-title">Custom Solutions</span>: No two problems are exactly alike, therefore we see no reason why your problems should
                be solved in a fixed manner. At Codaye, we only provide solutions best suited to your particular needs
                and objectives.</p>
        </div>
        <div class="col-md-6">
            <p><span class="benefit-title">Flexibility</span>: Our model ensures enough flexibiliy for
                businesses to get up and running online.
                Speak with us let's agree on a payment model most
                convenient for both your business and ours.</p>
            <p><span class="benefit-title">Reliabilty</span>: At Codaye Tech, our word is our bond.
                We deliver in a timely fashion, providing exactly what our
                clients request for. A testament to this is the fact that
                70% of our clients were recommended by
                previous clients.</p>
        </div>
    </div>
</section>