<section class="intro">
    <div class="row">
        <div class="col-md-12">
        <h2>Design. Develop. Deliver</h2>
        <h3>Codaye is a software design and development company.<br>
        We build digital products, apps &amp; services</h3>
        <div class="call-to-action">
            <a class="cta-btn" href="#">Start your project</a>
        </div>
        </div>
    </div>
</section>

<section class="about">    
    <div class="container">
        <div class="col-md-6">
            <h2>about</h2>
            <p>At Codaye Technologies, we care about your business and we can create the online model best suited for your enterprise
             Reach out to us and we will proffer ideas on ways to use the internet to benefit your business.<br>
            We also customize our service to fit around our clients' budgets.</p>
            <p>At Codaye, we believe technology is key to bettering our community, this is why we aim to affect the world one line
            at a time.</p>
        </div>
    </div>
</section>    