/**
 * Site header
 */
.intro {
    min-height: 56px;
    background-color: $brand-color;
    color: $white;
    text-align: center;

    background-image: url(../images/cod.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

    // Positioning context for the mobile navigation icon
    position: relative;


    h2 {
        font-size: $extra-huge-font * 1.5;
        font-weight: normal;
        padding: $huge-space 0;
    }

    h3 {
        font-size: $large-font-size;
        font-weight: normal;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    line-height: $large-space;
    padding-top: 10px;
    color: $white;
    background-color: $brand-color;
    padding: 0 $large-space;

    .menu-icon {
        display: none;
    }

    a {
        color: $white;
        line-height: 38px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        text-align: center;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

@media (min-width: 768px){
    .navbar-nav>li, .navbar-nav {
        float: none;
    }
}

.nav{
    list-style:none;
    margin:0;
    text-align:center;
    padding: 10px 0;
    display: inline-block;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.nav>li>a {
    display: inline;
}

.navbar {
    margin-bottom: 0;
}

.navbar-header {
    line-height: 70px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: inherit;
    background-color: none;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(255, 117, 117, 0);
    color: $white;
}

.navbar-button {
    display: inline-block;

    a {
        line-height: 60px;
    }
}

@media (min-width: 768px){
    .navbar-button {
        float: right;
    }
}

.call-to-action {
    padding: $really-large-space 0;

    a {
        color: $white;
    }
}

.cta-btn {
    border: thin $white solid;
    border-radius: $small-radius;
    padding: $small-space $medium-space;
    color: $white;

    &:hover, &:active {
      background-color: $white;
      color: $brand-color;
      text-decoration: none;
    }
}

.btn {
  position: relative;
  height: 28px;
  border-radius: 4px;
  padding: 4px 16px 4px 16px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
}

section h2 {
    font-size: $extra-huge-font * 1.4;
    font-family: 'Montserrat', sans-serif;
}

.iPhone {
  background-image: url(../images/iPhone6.png);
  background-size: cover;
  height: 250px
}

.white-bg {
  background-color: $white;

  h2 {
    color: #d7d7d7;
  }

  p {
    color: $brand-color;
  }
}

.grey-bg {
  background-color: #d7d7d7;

  h2 {
    color: $white;
  }

  p {
    color: #333;
  }
}

.benefit-title {
  text-decoration: underline;
  font-weight: bolder;
}

.card {
  padding: $large-space;
  margin: auto;
  border-radius: $medium-radius;
  text-align: center;

  @mixin box-shadow($shadow-name) {
       -webkit-box-shadow: $shadow-name;
          -moz-box-shadow: $shadow-name;
           -ms-box-shadow: $shadow-name;
               box-shadow: $shadow-name;
     }

  @include box-shadow($subtle-shadow);
}

#contact .card {
  max-width: 700px;
  margin-top: 24px;
  padding: 48px;

  h5 {
    margin-top: 20px;
  }

  .social-media {
    margin-top: 24px;
  }

  .social-media a {
    font-size: 14px;
    color: $white;
    display: inline;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 20px;
    height: 28px;
    margin: 2px;
    border-radius: 4px;
    padding: 4px 16px 4px 16px;
    box-sizing: border-box;

      img {
        height: 16px;
        padding-right: 4px;
      }
  }

  .twitter {
    background-color: #1b95e0;
  }
  .email {
    background-color: #F14336;
  }
  .messenger {
    background-color: #337ab7;
  }
  .whatsapp {
    background-color: #55CD6C;
  }
}

/*
** PORTFOLIO
*/

.fc {
    display: block;
    margin: 60px auto 80px;
}

.fc .fc-btn {
    color: $white;
    background-color: $brand-color;
    border: 1px solid $brand-color;
    position: absolute;
    box-sizing: border-box;
    line-height: .3;
    font-size: 40px;
    opacity: .7;
}

.fc .fc-btn.fc-btn-left:before {
  border-color: transparent #fff transparent transparent!important;
}

.fc .fc-btn.fc-btn-right:before {
    border-color: transparent transparent transparent #fff !important;
}

/**
*Social Media
*/

.social-media a {
  display: inline;
  height: 30px;
  border-radius: 10%;
  border-radius: 10%;
  padding: 10px;
  color: #242424;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social-media img {
  height: 16px;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a:hover {
  color: #fff;
}


/**
 * Site footer
 */
.site-footer {
  height: auto;

  .col-md-8 {
    float: none;
    margin: auto;
    text-align: center;

    img {
      margin: 0 auto;
    }
  }

}

.top-footer {
  background-color: $brand-color;
  color: #fff;
  text-align: center;
  padding: $medium-space 0;

  h2 {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
  }

  .cta {
    padding: 5px;
  }

  .cta-btn {
    display: inline-block;
  }

  .cta-btn:visited {
    color: $white;
    text-decoration: none;
  }

  .cta-btn:hover {
    color: $brand-color;
  }
}

.bottom-footer {
  padding: 8px;

  .col-md-6 .social-media {
    @media (min-width: 768px){
      text-align: right;
    }
  }
}

.copyright {
  color: $brand-color;
  text-align: left;
}

@media (max-width: 768px){
    .copyright, .bottom-footer .social-media {
        text-align: center;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $medium-space / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$medium-space / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $medium-space / 2;
    padding-left: $medium-space / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$medium-space} / 2));
    width:         calc(35% - (#{$medium-space} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$medium-space} / 2));
    width:         calc(20% - (#{$medium-space} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$medium-space} / 2));
    width:         calc(45% - (#{$medium-space} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$medium-space} / 2));
        width:         calc(50% - (#{$medium-space} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$medium-space} / 2));
        width:         calc(100% - (#{$medium-space} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$medium-space} / 2));
        width:         calc(100% - (#{$medium-space} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $medium-space 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $medium-space;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $medium-space;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $medium-space;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
