/**
 * Site header
 */
.site-header {
    min-height: 56px;
    background-color: $brand-color;
    color: $white;
    text-align: center;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    line-height: $large-space;
    padding-top: 10px;
    color: $white;
    background-color: $brand-color;
    padding: 0 $large-space;

    .menu-icon {
        display: none;
    }

    a {
        color: $white;
        line-height: 38px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        text-align: center;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

@media (min-width: 768px){
    .navbar-nav>li, .navbar-nav {
        float: none;
    }
}

.nav{
    list-style:none;
    margin:0;
    text-align:center;
    padding: 10px 0;
    display: inline-block;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.nav>li>a {
    display: inline;
}

.navbar-header {
    line-height: 70px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: inherit;
    background-color: none;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(255, 117, 117, 0);
    color: $white;
}

.navbar-button {
    display: inline-block;

    a {
        line-height: 40px;
    }
}

.cta-btn {
    border: thin $white solid;
    border-radius: $small-radius;
    padding: $small-space $medium-space;
}

@media (min-width: 768px){
    .navbar-button {
        float: right;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $medium-space 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $medium-space / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$medium-space / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $medium-space / 2;
    padding-left: $medium-space / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$medium-space} / 2));
    width:         calc(35% - (#{$medium-space} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$medium-space} / 2));
    width:         calc(20% - (#{$medium-space} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$medium-space} / 2));
    width:         calc(45% - (#{$medium-space} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$medium-space} / 2));
        width:         calc(50% - (#{$medium-space} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$medium-space} / 2));
        width:         calc(100% - (#{$medium-space} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$medium-space} / 2));
        width:         calc(100% - (#{$medium-space} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $medium-space 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $medium-space;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $medium-space;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $medium-space;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
