@charset "utf-8";

// Our variables
$base-font-family:      'Cabin', sans-serif;
$base-font-size:        16px;
$base-font-weight:      400;

$small-font-size:       $base-font-size * 0.875;
$default:     1em;
$large-font-size:       1.25em;
$larger-font-size:      1.6em;
$extra-large-font-size: 2.4em;
$extra-huge-font:       3em;

$base-line-height:      1.5;

$small-space:           8px;
$medium-space:          16px;
$large-space:           24px;
$larger-space:          32px;
$huge-space:            40px;
$really-large-space:    48px;
$really-huge-space:     64px;

$small-radius:          2px;
$medium-radius:         4px;
$large-radius:          8px;
$round:                 50%;

// Colours
$text-color:          #111;
$white:               #fdfdfd;
$black:               #0f0f0f;

$lighter-brand-color: #FFA390;
$light-brand-color:   #FF8166;
$brand-color:         #F05F40;
$dark-brand-color:    #DA3816;
$darker-brand-color:  #AA2408;

$lighter-alt-color:   #79D79C;
$light-alt-color:     #4DC078;
$alt-color:           #2EAE5E;
$dark-alt-color:      #109E45;
$darker-alt-color:    #067B32;

$grey-color:          #828282;
$grey-color-light:     lighten($grey-color, 40%);
$grey-color-dark:      darken($grey-color, 25%);

$subtle-shadow:        0px 4px 10px 0px rgba(216, 216, 216, 0.5);
$dark-shadow:          0px 7px 20px 0px rgba(216, 216, 216, 0.75);
$bold-shadow:          0px 7px 15px 0px #D8D8D8;
$distant-shadow:       0px 10px 10px 7px rgba(216, 216, 216, 0.5);;


// Use shadows like this:
// @mixin box-shadow($shadow-name) {
//   -webkit-box-shadow: $shadow-name;
//      -moz-box-shadow: $shadow-name;
//       -ms-box-shadow: $shadow-name;
//           box-shadow: $shadow-name;
// }

// e.g .box { @include box-shadow($dark-shadow); }

// Width of the content area
$content-width:       800px;

$on-palm:             600px;
$on-laptop:           800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
