/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Questrial", sans-serif;
  color: #333;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 8px; }

section {
  padding: 50px 0; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 8px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #F05F40;
  text-decoration: none; }
  a:visited {
    color: #d33311;
    text-decoration: none; }
  a:hover {
    color: #DA3816;
    text-decoration: none; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 8px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 14px;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #828282; }

code {
  padding: 4px 8px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (16px * 2));
  max-width: calc(800px - (16px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (16px));
      max-width: calc(800px - (16px));
      padding-right: 8px;
      padding-left: 8px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.intro {
  min-height: 56px;
  background-color: #F05F40;
  color: #fdfdfd;
  text-align: center;
  background-image: url(../images/cod.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative; }
  .intro h2 {
    font-size: 4.5em;
    font-weight: normal;
    padding: 40px 0; }
  .intro h3 {
    font-size: 1.25em;
    font-weight: normal; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  line-height: 24px;
  padding-top: 10px;
  color: #fdfdfd;
  background-color: #F05F40;
  padding: 0 24px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav a {
    color: #fdfdfd;
    line-height: 38px; }
    .site-nav a:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      text-align: center; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

@media (max-width: 768px) {
  .site-nav img {
    display: block;
    margin: 0 auto; }
  .nav {
    padding: 0; } }

@media (min-width: 768px) {
  .navbar-nav > li, .navbar-nav {
    float: none; } }

.nav {
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 10px 0;
  display: inline-block; }

.nav li {
  display: inline; }

.nav a {
  display: inline-block;
  padding: 10px; }

.nav > li > a {
  display: inline; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: rgba(255, 117, 117, 0);
  color: #fdfdfd; }

@media (max-width: 768px) {
  .nav {
    padding: 0; } }

.navbar {
  margin-bottom: 0; }

.navbar-header {
  line-height: 70px; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: inherit;
  background-color: none; }

.navbar-button {
  display: inline-block; }
  .navbar-button a {
    line-height: 60px; }

@media (min-width: 768px) {
  .navbar-button {
    float: right; } }

@media (min-width: 768px) {
  .navbar-button {
    float: none;
    text-align: center; } }

.call-to-action {
  padding: 48px 0; }
  .call-to-action a {
    color: #fdfdfd; }

.cta-btn {
  border: thin #fdfdfd solid;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 8px 16px;
  color: #fdfdfd; }
  .cta-btn:hover, .cta-btn:active {
    background-color: #fdfdfd;
    color: #F05F40;
    text-decoration: none; }

.btn {
  position: relative;
  height: 28px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 4px 16px 4px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap; }

section h2 {
  font-size: 4.2em;
  font-family: 'Montserrat', sans-serif; }

.iPhone {
  background-image: url(../images/iPhone6.png);
  background-size: cover;
  height: 250px; }

.white-bg {
  background-color: #fdfdfd; }
  .white-bg h2 {
    color: #d7d7d7; }
  .white-bg p {
    color: #F05F40; }

.grey-bg {
  background-color: #d7d7d7; }
  .grey-bg h2 {
    color: #fdfdfd; }
  .grey-bg p {
    color: #333; }

.benefit-title {
  text-decoration: underline;
  font-weight: bolder; }

.card {
  padding: 24px;
  margin: auto;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(51, 51, 51, 0.23);
  -ms-box-shadow: 0px 7px 20px 0px rgba(51, 51, 51, 0.23);
  box-shadow: 0px 7px 20px 0px rgba(51, 51, 51, 0.23); }

#contact .card {
  max-width: 700px;
  margin-top: 24px;
  padding: 48px; }
  #contact .card h5 {
    margin-top: 20px; }
  #contact .card .social-media {
    margin-top: 24px; }
  #contact .card .social-media a {
    font-size: 14px;
    color: #fdfdfd;
    display: inline-block;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 20px;
    height: 28px;
    margin: 2px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 4px 16px 4px 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    #contact .card .social-media a img {
      height: 16px;
      padding-right: 4px; }
  #contact .card .twitter {
    background-color: #1b95e0; }
  #contact .card .email {
    background-color: #F14336; }
  #contact .card .messenger {
    background-color: #337ab7; }
  #contact .card .whatsapp {
    background-color: #55CD6C; }

/*
** PORTFOLIO
*/
.fc {
  display: block;
  margin: 60px auto 80px; }

.fc .fc-btn {
  color: #fdfdfd;
  background-color: #F05F40;
  border: 1px solid #F05F40;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: .3;
  font-size: 40px;
  opacity: .7; }

.fc .fc-btn.fc-btn-left:before {
  border-color: transparent #fff transparent transparent !important; }

.fc .fc-btn.fc-btn-right:before {
  border-color: transparent transparent transparent #fff !important; }

/**
*Social Media
*/
.social-media a {
  display: inline;
  height: 30px;
  -webkit-border-radius: 10%;
          border-radius: 10%;
  border-radius: 10%;
  padding: 10px;
  color: #242424;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.social-media img {
  height: 16px; }

.social-media a:last-child {
  margin-right: 0; }

.social-media a:hover {
  color: #fff; }

/**
 * Site footer
 */
.site-footer {
  height: auto; }
  .site-footer .col-md-8 {
    float: none;
    margin: auto;
    text-align: center; }
    .site-footer .col-md-8 img {
      margin: 0 auto; }

.top-footer {
  background-color: #F05F40;
  color: #fff;
  text-align: center;
  padding: 16px 0; }
  .top-footer h2 {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    padding: 16px 24px; }
  .top-footer .cta {
    padding: 5px; }
  .top-footer .cta-btn {
    display: inline-block; }
  .top-footer .cta-btn:visited {
    color: #fdfdfd;
    text-decoration: none; }
  .top-footer .cta-btn:hover {
    color: #F05F40; }

.bottom-footer {
  padding: 8px; }
  @media (min-width: 768px) {
    .bottom-footer .col-md-6 .social-media {
      text-align: right; } }

.copyright {
  color: #F05F40;
  text-align: left; }

@media (max-width: 768px) {
  .copyright, .bottom-footer .social-media {
    text-align: center; } }

.footer-heading {
  font-size: 18px;
  margin-bottom: 8px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -8px; }

.footer-col {
  float: left;
  margin-bottom: 8px;
  padding-left: 8px; }

.footer-col-1 {
  width: -webkit-calc(35% - (16px / 2));
  width: calc(35% - (16px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (16px / 2));
  width: calc(20% - (16px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (16px / 2));
  width: calc(45% - (16px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (16px / 2));
    width: calc(50% - (16px / 2)); }
  .footer-col-3 {
    width: -webkit-calc(100% - (16px / 2));
    width: calc(100% - (16px / 2)); } }

@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (16px / 2));
    width: calc(100% - (16px / 2)); } }

/**
 * Page content
 */
.page-content {
  padding: 16px 0;
  min-height: 70vh; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 16px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 16px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 16px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }
